<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Our Feelings</h1>
    <table>
        <tr>
            <th>Emotion</th>
            <th>Who</th>
            <th>Why</th>
            <th>How</th>
            <th>Laughing?</th>
        </tr>
        <tr th:each="feeling : ${feelings}"> <!-- for(Emotion emotion : feelings) -->
            <td th:text="${feeling.feeling}">Happy</td>
            <td th:text="${feeling.personHavingIt}">Nich</td>
<!--            even though personHavingIt Is Protected, thymeleaf calls the getters if the . notation doesnt work-->
            <td th:text="${feeling.reason}">Teaching cool peeps</td>
            <td th:text="${feeling.level}">9</td>
            <td th:text="${feeling.causesUsToLaugh}">false</td>
        </tr>
    </table>
</body>
</html>